.layout {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit {
    marginTop: 20px;
}